.wrapper
  = render "/layouts/signup-header-step3"
  .signup-address
    .signup-address__wrapper
      .signup-address__wrapper__title
        住所入力
      .signup-address__wrapper__form
        = form_for @profile, url: address_signup_index_path,method: :post do |f|
          = render 'layouts/error_messages', model: f.object
          .signup-address__wrapper__form__list
            .signup-address__wrapper__form__list__title
              = f.label :postal_code, "郵便番号"
              %span.form-required
                必須
            = f.text_field :postal_code, class: "signup-address__wrapper__form__list__field", placeholder:"例）１２３４５６７"

            .signup-address__wrapper__form__list__title
              = f.label :prefecture_id, "都道府県"
              %span.form-required
                必須
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: "signup-address__wrapper__form__list__select"
            
            .signup-address__wrapper__form__list__city
              = f.label :city, "市区町村"
              %span.form-required
                必須
            = f.text_field :city, class: "signup-address__wrapper__form__list__field", placeholder:"例）横浜市緑区"
            .signup-address__wrapper__form__list__title
              = f.label :house_code, "番地"
              %span.form-required
                必須
            = f.text_field :house_code, class: "signup-address__wrapper__form__list__field", placeholder:"例）青山1-1-1"
            .signup-address__wrapper__form__list__title
              = f.label :bulid_name, "建物名"
              %span.from-arbitrary
                任意
            = f.text_field :bulid_name, class: "signup-address__wrapper__form__list__field", placeholder:"例）柳ビル103"

          = f.submit '次へ進む', class:"address__form__btn"