.wrapper
  = render "/layouts/header"
  .main
    .user-datail
      = form_with model: @user, method: :patch, local: true do |f|
        .fi
          = label :nickname, 'ニックネーム', class: 'signup-label'
        .fi
          = f.text_field :nickname, placeholder: '例）メルカリ太郎'
        .fi
          = label :email, 'メールアドレス'
        .fi
          = f.text_field :email, placeholder: 'PC・携帯どちらでも可'
          -# = fields_for @profile, method: :post do |p|
        .fi
          = f.submit '次へ進む', class:"user-datail-form__btn"